name: Create MOSIP Cluster

on:
  push:
    branches:
      - main
      - develop

jobs:
  create-rke-cluster:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node: [cluster]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install WireGuard
        run: sudo apt-get install -y wireguard

      - name: Configure WireGuard
        run: |
          echo "[Interface]
          Address = 10.13.13.29
          SaveConfig = true
          PrivateKey = SM/3y9sjDfxMsXj+5YirFnm2tXxK0ZR2A8QHUtilpkw=
          ListenPort = 51820

          [Peer]
          PublicKey = fCCuRocmGjP/Fyp0use7WYJQM8sOLP1GNhun6QnW5Aw=
          AllowedIPs = 172.31.0.0/16
          Endpoint = 3.7.248.153:51820" | sudo tee /etc/wireguard/wg0.conf

      - name: Start WireGuard
        run: sudo wg-quick up wg0

      - name: Set up Python and install Ansible
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install Ansible dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible

      - name: Configure SSH keys for password-less SSH connection.
        run: |
          echo "${{ secrets.CLUSTER_PRIVATE_KEY }}" > ssh_key
          chmod 600 ssh_key
          ssh -o StrictHostKeyChecking=no -i ssh_key ubuntu@172.31.1.74 exit
          ssh -o StrictHostKeyChecking=no -i ssh_key ubuntu@172.31.1.109 exit

      - name: Update known_hosts
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.CLUSTER_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 172.31.1.74 >> ~/.ssh/known_hosts
          ssh-keyscan -H 172.31.1.109 >> ~/.ssh/known_hosts

      - name: Generate SSH Key Pair
        id: ssh_key
        run: |
          ssh-keygen -t rsa -b 4096 -C "actions-runner-key" -f runner_key -N ""
          echo "PUBLIC_KEY=$(cat runner_key.pub)" >> $GITHUB_ENV
        shell: bash

      - name: Print Public Key
        run: echo "${{ env.PUBLIC_KEY }}"

      - name: SSH into the Servers and Add Public Key
        run: |
          while IFS= read -r line; do
            if [[ $line =~ ^\[([^\]]+)\] ]]; then
              node=${BASH_REMATCH[1]}
              continue
            fi

            if [[ $line =~ ansible_user=([^[:space:]]+) ]]; then
              ansible_user=${BASH_REMATCH[1]}
            fi

            if [[ $line =~ ansible_host=([^[:space:]]+) ]]; then
              ansible_host=${BASH_REMATCH[1]}
            fi

            if [[ $line =~ ansible_ssh_private_key_file=([^[:space:]]+) ]]; then
              ansible_private_key=${BASH_REMATCH[1]}
            fi

            if [ -n "$ansible_user" ] && [ -n "$ansible_host" ] && [ -n "$ansible_private_key" ]; then
              echo "${{ env.PUBLIC_KEY }}" | ssh -o StrictHostKeyChecking=no -i $ansible_private_key $ansible_user@$ansible_host 'cat >> ~/.ssh/authorized_keys'
              ansible_user=""
              ansible_host=""
              ansible_private_key=""
            fi
          done < ./config/hosts.ini

      - name: Run Ansible playbook to perform Environment Check and setup.
        run: |
          ANSIBLE_PATH=$(which ansible-playbook)
          sudo $ANSIBLE_PATH -i ./config/hosts.ini ./playbooks/env-check-setup.yaml

      - name: Run Ansible playbook to Install docker on all nodes.
        run: |
          sudo ansible-playbook -i ./config/hosts.ini ./playbooks/docker.yaml

      - name: Build Docker image
        run: sudo docker build -t mosip-rke-image .

      - name: Run RKE in Docker container
        run: sudo docker run -v $(pwd):/config mosip-rke-image

      - name: Commit changes to cluster repository
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git add -A
          git commit -m "Update RKE state and kubeconfig files"
          git push https://${{ secrets.CLUSTER_REPO_ACCESS }}@github.com/Mohanraj209/cluster main
