name: Create MOSIP Cluster

on:
  push:
    branches:
      - main
      - develop

jobs:
  create-rke-cluster:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node: [cluster]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup ufw firewall
        run: |
          sudo ufw enable
          sudo ufw allow ssh
          sudo ufw allow 51820/udp
          sudo ufw status        

      - name: Install WireGuard
        run: sudo apt-get install -y wireguard

      - name: Configure WireGuard
        run: |
          echo "[Interface]
          Address = 10.13.13.34
          PrivateKey = ACn/6kNrLlGtIs5bz9jbnZHbPnLrUFD4cqDvC3IPHGw=
          ListenPort = 51820
          [Peer]
          PublicKey = fCCuRocmGjP/Fyp0use7WYJQM8sOLP1GNhun6QnW5Aw=
          Endpoint = 3.7.248.153:51820
          AllowedIPs = 172.31.0.0/16" | sudo tee /etc/wireguard/wg0.conf

      - name: Start WireGuard
        run: |
          sudo chmod 600 /etc/wireguard/wg0.conf
          sudo chmod 700 /etc/wireguard/
          sudo chmod 644 /lib/systemd/system/wg-quick@.service
          sudo systemctl daemon-reload
          sudo wg-quick up wg0
          sudo wg show wg0
          sudo systemctl enable wg-quick@wg0
          sudo systemctl start wg-quick@wg0

      - name: Check WireGuard Status
        run: |
          sudo systemctl status wg-quick@wg0

      - name: Set up Python and install Ansible
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install Ansible dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible

      - name: Configure SSH keys for password-less SSH connection.
        run: |
          echo "${{ secrets.CLUSTER_PRIVATE_KEY }}" > ssh_key
          chmod 600 ssh_key
          ssh-keygen -l -f ssh_key

      - name: Generate SSH Key Pair
        id: ssh_key
        run: |
          ssh-keygen -t rsa -b 4096 -C "actions-runner-key" -f runner_key -N ""
          echo "PUBLIC_KEY=$(cat runner_key.pub)" >> $GITHUB_ENV
        shell: bash

      - name: Print Public Key
        run: echo "${{ env.PUBLIC_KEY }}"

      - name: SSH into the Servers and Add Public Key
        run: |
          for node in node1 node2; do
            ansible_user=$(ansible-inventory -i ./config/hosts.ini --host $node --yaml | yq e '.ansible_user' -)
            ansible_host=$(ansible-inventory -i ./config/hosts.ini --host $node --yaml | yq e '.ansible_host' -)
            ansible_private_key=ssh_key

            echo "${{ env.PUBLIC_KEY }}" | ssh -o StrictHostKeyChecking=no -i $ansible_private_key $ansible_user@$ansible_host 'cat >> ~/.ssh/authorized_keys'
          done

      - name: Capture host keys
        id: host-keys
        run: |
          echo "copied_host_key_1=$(ssh-keyscan -H 3.7.254.76)" >> $GITHUB_ENV
          echo "copied_host_key_2=$(ssh-keyscan -H 13.232.234.78)" >> $GITHUB_ENV

      - name: Append host keys to known_hosts
        run: |
          echo "$copied_host_key_1" >> /home/runner/.ssh/known_hosts
          echo "$copied_host_key_2" >> /home/runner/.ssh/known_hosts
          cat /home/runner/.ssh/known_hosts

      - name: SSH into the Servers
        run: |
          ls
          chmod 600 runner_key
          ssh -i runner_key ubuntu@3.7.254.76 'echo "Hello from Node1"' exit
          ssh -i runner_key ubuntu@13.232.234.78 'echo "Hello from Node2"' exit

      - name: Run Ansible playbook to perform Environment Check and setup.
        run: |
          ANSIBLE_PATH=$(which ansible-playbook)
          sudo $ANSIBLE_PATH -i ./config/hosts.ini ./playbooks/env-check-setup.yaml

      - name: Run Ansible playbook to Install docker on all nodes.
        run: |
          sudo ansible-playbook -i ./config/hosts.ini ./playbooks/docker.yaml

      - name: Build Docker image
        run: sudo docker build -t mosip-rke-image .

      - name: Run RKE in Docker container
        run: sudo docker run -v $(pwd):/config mosip-rke-image

      - name: Commit changes to cluster repository
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git add -A
          git commit -m "Update RKE state and kubeconfig files"
          git push https://${{ secrets.CLUSTER_REPO_ACCESS }}@github.com/Mohanraj209/cluster main
